.PortfolioValueCard {
  text-align: center;
  align-content: center;
}

nb-card-header {
  font-size: large;
}
nb-card-body {
  font-size: xx-large;
}

.gainCard {
  display: flex;
  justify-content: space-between;
}
